streamlit==1.32.0
streamlit-authenticator==0.2.3
streamlit-option-menu
snowflake-connector-python==3.6.0
cryptography>=41.0.0
pandas
openpyxl
bcrypt
PyJWT
PyYAML
extra-streamlit-components
openai>=1.0.0
reportlab 
