streamlit==1.32.0
streamlit-authenticator==0.2.3
streamlit-option-menu
snowflake-connector-python[pandas]==3.12.3
cryptography==42.0.8
pyOpenSSL==24.1.0
pandas
numpy
openpyxl
bcrypt
PyJWT
PyYAML
extra-streamlit-components
openai>=1.0.0
reportlab
plotly
packaging